.recommendation{
    background-color: rgba(255, 0, 0, 0.6);
    margin-top: 30px;
    /*width: 15em;
    height: 10em;*/
    overflow: hidden;
}

#currentPage {
    background-color: rgba(192, 192, 192, 0.24);
    text-decoration-color: #ffffff;
}

.recoSize {
    width: 15em;
    overflow: hidden;

}
.rr {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 38px;
}
.h3Size{
    font-size:30px;
}
.smallSize {
    font-size: small;
}
h1 {
    margin-right: auto; /* Pousse le titre à gauche (au début de la ligne) */
}

.dropdown {
    position: relative; /* Utilisez une position relative pour ajuster la position du contenu du menu déroulant */
}

.side-btn {
    background-color:#8bab36;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: large;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0; /* Alignez le contenu du menu déroulant à droite */
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    font-size: 15px;
    border:none;
    background-color: white;
}

.dropdown-content button:hover {
    background-color: #ddd;
    border-radius: 10px;
    border:none;

}

/* Affichage du menu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
    width: fit-content;
}


.margin-bottom{
    margin-bottom: 1em;
}

.action-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}
.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff; /* Couleur de la flèche (noir dans cet exemple) */
    margin-left: 5px; /* Espacement entre le texte et la flèche */
    bottom: 3px;
}

.enSavoirPlusReco {
    margin: 20px;
}

.article {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.enSavoirPlusTitle1{
    font-size: 24px;
    font-weight: bold;
}

.reason {
    margin-top: 20px;
}

.enSavoirPlusTitle2 {
    font-size: 18px;
    font-weight: bold;
}

.enSavoirPlusText {
    font-size: 16px;
    line-height: 1.5;
}

.column {
    display: flex;
    flex-direction: column;
    width: 15em;
    margin: 10px;
}
.small-column {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 3px;
}
b.small-column{
    width: 11em;
}

.side-btn:hover{
    background-color: white;
    color :  #8bab36;
}
.mt-4 {
    margin-bottom:0px;
}
.plr-8 {
    padding-left: 72px;
    padding-right: 72px;
}
.italic {
    font-style: italic;
    font-size: 12px;
    color: black;
}
.composéCompositionColonne{
    display: flex;
    flex-direction: column;
}
.aucuneInfo{
    font-size: small;
    font-style: italic;
}

.ingredient_deListe{
    font-size: small;
    margin-left :25px;

}
.valider-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin-bottom: 70px;
}
.modifyInput {
    width: 60px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.loginBackground{
    background-color:#8bab36 ;
}